page-nonprofit-categories {

  .masonry-layout {
    column-count: 2;
    column-gap: 15px;
    padding: 0px 15px 25px;
    margin-top: -25px;
  }

  .masonry-content {
    background-color: #fff;
    display: inline-block;
    margin: 25px 0px 0px 0px;
    width: 100%;

    img {
    	border-radius: 5px;
    }

    p {
    	margin: 0px 5px;
    }
  }

  [_nghost-c0] {
    font-size: 14px;
    color: color($colors, green);
    padding: 8px 10px;
  }

  tag[_ngcontent-c0] {
  	background-color: color($colors, green);
  	color: color($colors, light);
		height: 32px;
		line-height: 32px;
		padding: 0px 10px;
  }

  .ng2-tag-input[_ngcontent-c0] {
  	border: none !important;
  	padding: 0px;
  }

	delete-icon[_nghost-c5] path[_ngcontent-c5] {
		fill: color($colors, light);
	}

	[no-data-label] {
		margin: 15px 10px;
	}
}