<ion-header>
  <ion-navbar color="green">
  	<ion-title color="light">{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<tag-input [placeholder]="'Categories'" [secondaryPlaceholder]="'Categories'" [(ngModel)]="selectedKeys" [onlyFromAutocomplete]="true" (onRemove)="updateKey($event)" (onAdd)="updateKey($event)">
    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="preparedKeys">
    </tag-input-dropdown>
	</tag-input>
	<div class="masonry-layout" *ngIf="items && items.length">
		<div class="masonry-content" *ngFor="let item of items" (click)="goToDetail(item)">
			<img [src]="item.logoImg"/>      
			<div class="content-padding">
				<p><strong>{{ item.name }}</strong></p>
			</div>
		</div>
	</div>
  <p no-data-label *ngIf="items && !items.length">No data.</p>
</ion-content>